<br>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
    <div class="support-git-bg">
      <h3 class="govuk-heading-m callout-title">Get help and support</h3>
      <span class="govuk-body callout-body">If you're thinking about teaching or are ready to apply, <a class="govuk-link govuk-link govuk-link--no-visited-state" href="https://getintoteaching.education.gov.uk/help-and-support">contact Get Into Teaching</a> for free support</a>.</span>
    </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <div class="applications-apply-bg">
      <h3 class="govuk-heading-m callout-title">Your applications</h3>
      <span class="govuk-body callout-body">View and manage your applications on the <a class="govuk-link govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/apply-for-teacher-training">Apply for teacher training website</a>.</span>
    </div>
    </div>
</div>