    <h1 class="govuk-heading-xl">My courses</h1>

    {% include "_includes/my-courses/apply-callout.html" %}

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="saved-courses"{% if activeSecondaryNav == 'saved' %} aria-current="page"{% endif %}>Saved courses</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="recent-searches"{% if activeSecondaryNav == 'searches' %} aria-current="page"{% endif %}>Recent searches</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="email-alerts"{% if activeSecondaryNav == 'alerts' %} aria-current="page"{% endif %}>Email alerts</a>
        </li>
      </ul>
    </nav>
