<!-- Course result -->
<div class="govuk-summary-card govuk-summary-list--no-border">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      <a href="#">
        Provider name<br>
        Subject (CODE)
      </a>
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
       <button class="unstyled-button results-save-course-button__unstyled-button" data-action="click->save-course#toggle" data-save-course-target="button" data-state="unsaved" aria-label="Save this course">
        <span class="save-course-button__icon" data-save-course-target="icon"></span>
        <span class="save-course-button__text govuk-body govuk-link govuk-!-margin-bottom-0" data-save-course-target="text"><strong>Save this course for later</strong></span>
      </button>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content app-summary-card__content">
  <dl class="govuk-summary-list app-filter-label">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Nearest placement school
        </dt>
        <dd class="govuk-summary-list__value">
          <strong>1 mile</strong> from <strong>Manchester</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fee or salary
        </dt>
        <dd class="govuk-summary-list__value">
          <strong>£9,535 fee</strong> for UK citizens
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course length
        </dt>
        <dd class="govuk-summary-list__value">
          1 year - full time
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Age group
        </dt>
        <dd class="govuk-summary-list__value">
          Secondary - 11 to 18
        </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Qualification awarded
        </dt>
        <dd class="govuk-summary-list__value">
          QTS with PGCE
        </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Degree required
        </dt>
        <dd class="govuk-summary-list__value">
          2:2 bachelor's degree
          <br>
          <span class="govuk-hint govuk-!-font-size-16">or above or equivalent qualification</span>
        </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Visa sponsorship
        </dt>
        <dd class="govuk-summary-list__value">
          Visas cannot be sponsored
        </dd>
      </div>
    </dl>
  </div>
</div>