
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title app-summary-card__title--saved-course">
          <a href="#">University of Manchester<br>Mathematics (G1X1)</a>
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state app-link--saved-course" href="#">Delete</a>
          </li>
        </ul>
      </div>

      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list app-summary-list--saved-course">
          <div class="govuk-summary-list__row app-summary-list__row--saved-course">
            <dt class="govuk-summary-list__key app-summary-list__key--saved-course">
              Nearest placement school
            </dt>
            <dd class="govuk-summary-list__value app-summary-list__value--saved-course">
              <strong>2 miles</strong> from <strong>Manchester</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row app-summary-list__row--saved-course">
            <dt class="govuk-summary-list__key app-summary-list__key--saved-course">
              Fee or salary
            </dt>
            <dd class="govuk-summary-list__value app-summary-list__value--saved-course">
              <strong>£9,535</strong> fee for UK citizens<br>
            <span class="govuk-hint govuk-!-font-size-16">
              Bursaries of £29,000 are available
            </span>
            </dd>
          </div>
           <div class="govuk-summary-list__row app-summary-list__row--saved-course">
            <dt class="govuk-summary-list__key app-summary-list__key--saved-course">
              Note
            </dt>
