<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      <a href="#" class="govuk-link--no-visited-state">{{ course.provider }}
      <br>{{ course.title }}</a>
    </h2>
    <!--<strong class="govuk-tag govuk-tag--red">Not accepting applications</strong>-->
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link govuk-link--no-visited-state results-save-course-button__unstyled-button" href="unsave-course?id={{ courseId }}&index={{ courseIndex }}">
          <span class="save-course-button__icon is-saved" aria-hidden="true"></span>
          <span class="save-course-button__text">Saved</span>
          <span class="govuk-visually-hidden">Remove {{ course.title }} from saved courses</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Nearest placement school
        </dt>
        <dd class="govuk-summary-list__value">
          {% if course.distanceValue or course.distancePlace %}
          <strong>{{ course.distanceValue }}</strong> from <strong>{{ course.distancePlace }}</strong>
          {% else %}
          {{ course.distance | boldDistance | safe }}
          {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fee or salary
        </dt>
        <dd class="govuk-summary-list__value">
          {% if course.feeAmount or course.feeText or course.fee %}
           {% if course.feeAmount %}<strong>{{ course.feeAmount }}</strong>{% endif %}{% if course.feeText %} {{ course.feeText | boldFeeWord | safe }}{% endif %}{% if not course.feeAmount and not course.feeText and course.fee %}{{ course.fee | boldCurrency | boldFeeWord | safe }}{% endif %}

          {% if course.feeExtraAmount or course.feeExtraText or course.feeExtra %}<br>{% endif %}
           {% if course.feeExtraAmount %}<strong>{{ course.feeExtraAmount }}</strong>{% endif %}{% if course.feeExtraText %} {{ course.feeExtraText | boldFeeWord | safe }}{% endif %}{% if not course.feeExtraAmount and not course.feeExtraText and course.feeExtra %}{{ course.feeExtra | boldCurrency | boldFeeWord | safe }}{% endif %}
          {% endif %}
        {% if course.funding %}
        <br>
          <span class="govuk-hint govuk-!-font-size-16">
            {{ course.funding }}
          </span>
        {% endif %}
        </dd>
      </div>
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Note
        </dt>
        {% if course.id is defined %}
          {% set courseId = course.id %}
        {% else %}
          {% set courseId = courseIndex %}
        {% endif %}
        {% if course.note %}
          {% include "_includes/my-courses/saved-courses/note-full.html" %}
        {% else %}
          {% include "_includes/my-courses/saved-courses/note-empty.html" %}
        {% endif %}
      </div>
    </dl>
  </div>

</div>
