<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      <a href="#" class="govuk-link--no-visited-state">University of Manchester
      <br>Mathematics (G1X1)</a>
    </h2>
    <!--<strong class="govuk-tag govuk-tag--red">Not accepting applications</strong>-->
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link govuk-link--no-visited-state" href="#">Delete</a>
      </li>
    </ul>
  </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Nearest placement school
        </dt>
        <dd class="govuk-summary-list__value">
          <strong>2 miles</strong> from <strong>Manchester</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fee or salary
        </dt>
        <dd class="govuk-summary-list__value">
          <strong>£9,535</strong> fee for UK citizens<br>
        <span class="govuk-hint govuk-!-font-size-16">
          Bursaries of £29,000 are available
        </span>
        </dd>
      </div>
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Note
        </dt>
        {% include "_includes/my-courses/saved-courses/note-empty.html" %}
      </div>
    </dl>
  </div>

</div>