    {% if data.savedCourses and data.savedCourses.length %}
      {% for course in data.savedCourses %}
        {% set courseIndex = loop.index0 %}
        {% if course.id is defined %}
          {% set courseId = course.id %}
        {% else %}
          {% set courseId = loop.index0 %}
        {% endif %}
        {% include "_includes/my-courses/saved-courses/course.html" %}
      {% endfor %}
    {% else %}
      {% include "_includes/my-courses/saved-courses/courses-none.html" %}
    {% endif %}
