<dd class="govuk-summary-list__value">
  <p class="govuk-body">{{ course.note | nl2br | safe }}</p>
</dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link govuk-link--no-visited-state" href="add-note?id={{ courseId }}&index={{ courseIndex }}">Edit<span class="govuk-visually-hidden"> note</span></a>
    <span aria-hidden="true"> | </span>
    <a class="govuk-link govuk-link--no-visited-state" href="delete-note?id={{ courseId }}&index={{ courseIndex }}">Delete<span class="govuk-visually-hidden"> note</span></a>
</dd>
