{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Get email alerts for Mathematics in Manchester</h1>

    <p class="govuk-body">
      We'll email you weekly when new courses are added that meet these criteria:
    </p>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Subject
        </dt>
        <dd class="govuk-summary-list__value">
          Mathematics
        </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location
        </dt>
        <dd class="govuk-summary-list__value">
          Within 50 miles of Manchester
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fee or salary
        </dt>
        <dd class="govuk-summary-list__value">
          Fee-paying courses
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full time or part time
        </dt>
        <dd class="govuk-summary-list__value">
          Full time
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Qualification
        </dt>
        <dd class="govuk-summary-list__value">
          QTS with PGCE or PGDE
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start date
        </dt>
        <dd class="govuk-summary-list__value">
          October 2026 to July 2027
        </dd>
      </div>
    </dl>

    <p class="govuk-body">
      You can unsubscribe at any time.
    </p>

    <form action="/email-alert-new" method="post" novalidate>
      <input type="hidden" name="alertTitle" value="Mathematics in Manchester">
      <input type="hidden" name="subject" value="Mathematics">
      <input type="hidden" name="feeOrSalary" value="Fee-paying courses">
      <input type="hidden" name="location" value="Within 50 miles of Manchester">
      <input type="hidden" name="studyMode" value="Full time">
      <input type="hidden" name="qualification" value="QTS with PGCE or PGDE">
      <input type="hidden" name="startDate" value="October 2026 to July 2027">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Set up email alert
      </button>
    </form>

<p class="govuk-body">
 <a class="govuk-link govuk-link govuk-link--no-visited-state" href="saved-courses">Cancel</a>
</p>

{% endblock %}
