{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Get email alerts for Mathematics in Manchester</h1>

    <p class="govuk-body">
    Get an email alert whenever a new course is added to this search:<br><br>

<strong>Subject:</strong> Music<br>
<strong>City, town or postcode:</strong> Manchester<br>
<strong>Sort by:</strong> Lowest start fee<br>
<strong>Special educational needs (SEND):</strong> Only show courses with a SEND specialism<br><br>

We will send you emails about new courses every Monday at 3pm.<br><br>

You can unsubscribe at any time.
</p>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Set up email alert
</button>

<p class="govuk-body">
 <a class="govuk-link" href="#">Cancel</a>
</p>

{% endblock %}
