{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Saved searches</h1>

    <p class="govuk-body">
      We'll email you about these searches every Monday.
    </p>

    <div class="govuk-summary-card govuk-summary-list--no-border">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Mathematics in Manchester
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Delete</a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subject
            </dt>
            <dd class="govuk-summary-list__value">
              Mathematics
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              City, town or postcode
            </dt>
            <dd class="govuk-summary-list__value">
              Manchester
            </span>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sort by
            </dt>
            <dd class="govuk-summary-list__value">
              Lowest fee
            </span>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Special educational needs (SEND)
            </dt>
            <dd class="govuk-summary-list__value">
              Only show courses with a SEND specialism
            </span>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <h2 class="govuk-heading-m">Create a new search alert</h2>
    <p class="govuk-body">To create a new search alert, <a class="govuk-link govuk-link--no-visited-state" href="#">search for a course</a> and then select <strong>Create a search alert</strong> in the <strong>Filters</strong>..

{% endblock %}
