{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Saved searches</h1>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Mathematics in Manchester
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="email-alerts">Search again</a>
          </li>
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="email-alerts">Get email alerts</a>
          </li>
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="#">Delete</a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subject
            </dt>
            <dd class="govuk-summary-list__value">
              Mathematics
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              City, town or postcode
            </dt>
            <dd class="govuk-summary-list__value">
              Manchester
            </span>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sort by
            </dt>
            <dd class="govuk-summary-list__value">
              Lowest fee
            </span>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Special educational needs (SEND)
            </dt>
            <dd class="govuk-summary-list__value">
              Only show courses with a SEND specialism
            </span>
            </dd>
          </div>
        </dl>
      </div>
    </div>

{% endblock %}
