{% extends "layouts/main.html" %}
{% set activePrimaryNav = 'my' %}
{% set activeSecondaryNav = 'saved' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if noteFlash %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="note-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="note-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          {{ noteFlash.title }}
        </h3>
        <p class="govuk-body">
          {{ noteFlash.message }}
        </p>
        {% if noteFlash.linkText %}
        <p class="govuk-body">
          <a class="govuk-link" href="{{ noteFlash.linkHref }}">{{ noteFlash.linkText }}</a>
        </p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    {% include "_includes/my-courses/sub-nav.html" %}

    <h2 class="govuk-heading-l app-heading-l">Saved courses</h2>

    {% if data.savedCourses and data.savedCourses.length %}
    {% include "_includes/my-courses/saved-courses/sort.html" %}

    {% include "_includes/my-courses/saved-courses/courses.html" %}

    {% include "_includes/pagination.html" %}
    {% else %}
    {% include "_includes/my-courses/saved-courses/courses.html" %}
    {% endif %}

  </div>
</div>

{% endblock %}
